
body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Высота на весь экран */
    width: 100vw; /* Ширина на весь экран - добавлено для полной ширины */
    overflow: hidden; /* Отключаем прокрутку - добавлено для фиксированной страницы */
    position: fixed; /* Фиксируем позицию - добавлено для фиксирования страницы */
    background-image: url('https://i.pinimg.com/originals/94/b9/c6/94b9c64e1c5d912bcfd3db9c6f988b15.gif'); /* Замените на путь к вашему изображению */
    background-size: cover; /* Растягиваем изображение на весь экран */
    background-position: calc(); /* Центрируем изображение */
    background-repeat: no-repeat; /* Не повторяем изображение */
    color: white; /* Цвет текста */
    text-align: center; /* Центрируем текст */
    display: flex; /* Используем flex для центрирования содержимого */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    flex-direction: column; /* Вертикальная компоновка */
}
.d{
    text-align: center;
    color: #ffffff;
    position: fixed;
    margin-top: -500px;
    margin-left: -2%;
}
img {
    width: 235px; /* Ширина изображения */
    height: 205px; /* Высота изображения */
    border-radius: 20px;
    position: fixed;
    margin-top: 76px; /* Отступ сверху */
    margin-left: -83px;
}
.buy-button {
    background-color: #000000; /* Цвет кнопки */
    color: rgb(255, 255, 255); /* Цвет текста кнопки */
    border: none; /* Убираем рамку */
    padding: 6px 22px; /* Отступы кнопки */
    margin-top: 145px;
    margin-left: -80px;
    border-radius: 5px; /* Закругление углов */
    position: fixed;
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 1s; /* Плавный переход цвета */
}

.buy-button:hover {
    background-color: #ffffff; /* Цвет кнопки при наведении */
}
